<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LilyFolder" value="" />
    <add key="LatexFolder" value="" />
    <add key="PartiFolder" value="" />
    <add key="TabFolder" value="" />
    <add key="WavFolder" value="" />
    <add key="pseudo" value="" />
    <add key="password" value="" />
  </appSettings>
</configuration>