body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width:600px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron{
    background-image:url("/download/head.png");
    background-position:center;
    height:20em;
    margin-bottom:0;
}

.info-descriptif{
    margin-top:2.5em;
}
.title-blue {
    color:cornflowerblue;
    font-style:italic;
    text-align:center;
}
.card{
    min-height:20em;
}
.bottom{
    position:absolute;
    bottom:0;
}
.card-title{
    text-align:center;
}
.PageContent {
    margin-top: 1em;
}
li{
    cursor:pointer;
}