@using WebApplication1.helper
@{
    ViewBag.Title = "Bibliotheque";
}

<main class="PageContent">
    <h3>Bibliothèque</h3>
    <div class="row">
        <div class="col" id="bibli">
            @Html.Raw(CustomHelper.Bibli())
        </div>
        <div class="col" id="detail">
        </div>
    </div>
</main>
