@{
    ViewBag.Title = "à propos";
}
<main class="PageContent">
    <h2>@ViewBag.Title</h2>
    <p>
        Ce projet a été développé lors d'un TFE en Technologie de l'informatique à l'EPHEC de Louvain-La-Neuve.
        Plusieurs technologies sont utilisées telles que:
        <ul>
            <li>C#: qui a été utilisé pour développer l'application avec .NET Framework 4.7.2 et .NET standard.</li>
            <li>Python: toute la partie traitement de l'audio pour obtenir les notes de musique est traitée par un script Python(3.7).</li>
            <li>Lylipond: permet de générer la partition d'un morceau.</li>
            <li>LaTeX: la tablature est générée à l'aide du langage LaTeX afin de pouvoir créer le design nécessaire.</li>
        </ul>
    </p>
</main>