@{
    ViewBag.Title = "à propos";
}
<main class="PageContent">
    <h2>@ViewBag.Title</h2>
    <p>
        Ce projet à été développé lors d'un TFE en Technologie de l'informatique à l'ephec de Louvain-La-Neuve.
        Plusieurs technologie sont utilisé tels que:
        <ul>
            <li>C#: Qui a été utilisé pour développer l'application avec .NET Framework 4.7.2 et .NET standard.</li>
            <li>Python: Toute La partie traitement de l'audio pour obtenir les notes de musique est traité par un script python(3.7).</li>
            <li>Lylipond: Permet de générer la partition d'un morceau.</li>
            <li>Latex: La tablature est générée à l'aide du langage latex afin de pouvoir créer le design nécessaire.</li>
        </ul>
    </p>
</main>