@{
    ViewBag.Title = "DiaTab";
}
<main>
    <div class="jumbotron">
    </div>
    <h2 class="title-blue">Transcripteur de mélodie audio provenant d’un accordéon diatonique en notes de musique et tablature</h2>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-title"><h2>L'application</h2></div>
                <div class="card-body">
                    <p>
                        Cette application vous permet d'enregistrer quelqu'un jouant de l'accordéon diatonique. 
                        Ensuite, vous pourrez obtenir une tablature (sol/do) et une partition du morceau que vous venez d'écouter.
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-link"><a class="btn btn-primary" href="/download/Setup1.msi" download="DiaTab.msi" target="_blank">Download &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h2>La plateforme Web</h2>
                </div>
                <div class="card-body">
                    <p>
                        Une fois connecté, la plateforme vous permet de partager vos créations musicales avec le monde entier.
                    </p>
                </div>
                <div class="card-footer">
                    <p><a class="btn btn-primary" href="~/Account/Login">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="info">
        <hr />
        <div class="row">
            <div class="col">
                <h5>Les partitions</h5>
                <img src="~/download/lilypond.png" />
            </div>
            <div class="col-sm info-descriptif">
                LilyPond est un logiciel de gravure musicale, destiné à produire des partitions de qualité optimale. Ce projet apporte à l’édition musicale informatisée l’esthétique typographique de la gravure traditionnelle. LilyPond est un logiciel libre rattaché au projet GNU.
                <br /><br /><a class="btn btn-outline-secondary" href="https://www.lilypong.org" target="_blank">Vers le site de Lilypond &raquo;</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm info-descriptif">
                LaTeX est un système open-source, multi-plateforme, permettant de créer facilement un document pdf personnalisé  sur base d’un langage de script.
                <br /><br /><a class="btn btn-outline-secondary" href="https://www.latex-project.org/" target="_blank">Vers le site de Latex &raquo;</a>
            </div>
            <div class="col">
                <h5>Les tablatures</h5>
                <img src="~/download/latex.png" />
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</main>