@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Transcripteur de mélodie audio provenant d’un accordéon diatonique en notes de musique et tablature</h3>
</div>

<div class="row">
    <div class="col">
        <h2>L'application</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary" href="/download/Setup2.msi" target="_blank">Download</a></p>
    </div>
    <div class="col">
        <h2>La plateforme Web</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="info">
    <hr />
    <div class="row">
        <div class="col">
            <img src="~/download/lilypond.png" />
        </div>
        <div class="col-sm">LilyPond est un logiciel de gravure musicale, destiné à produire des partitions de qualité optimale. Ce projet apporte à l’édition musicale informatisée l’esthétique typographique de la gravure traditionnelle. LilyPond est un logiciel libre rattaché au projet GNU.</div>
    </div>
    <hr />
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
